{% extends 'base.html' %}

{% block title %}My Dreams{% endblock %}

{% block content %}
<h1>My Dreams</h1>

{% if dreams %}
    <ul>
        {% for dream in dreams %}
            <li>
                <strong>{{ dream.text|truncatechars:100 }}</strong><br>
                {{ dream.created_at|date:"Y-m-d H:i" }}

                <br><br>

                <a href="#">
                    <a href="{% url 'dreams_app:detail' dream.id %}">Details</a>
                </a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no dreams yet.</p>
{% endif %}
<a href="{% url 'dashboard' %}" class="btn">Back to Dashboard</a>
{% endblock %}
